@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-fondo: #D8DFE8;
    --color-blanco: white;
    --color-negro: #000000;
    --color-gris: #9B9797;
}

::-webkit-input-placeholder {
    color: darkblue;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F3F5FC;
    box-sizing: border-box;
}

.programa {
    display: flex;
    justify-content: space-between;
}

.programa_logo {
    width: 31.09px;
    height: 48px;
    margin: 5% 0 2% 5%;
}

.programa_entrada {
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 70vw;
    height: 90vh;
}

.programa_texto {
    margin: 1% 0 1% 10%;
}

.programa_entrada_texto {
    border: none;
    font-size: 32px;
    font-weight: 400;
    color: darkblue;
    background-color: #F3F5FC;
    width: 80%;
}

textarea {
    resize: none;
    padding: 0.3% 1%;
}

.programa_advertencia {
    display: flex;
    align-items: center;
    margin: 0% 0 1% 10%;
    gap: 1%;
}

.programa_advertencia_texto {
    font-size: 12px;
}

.programa_botones_encriptar {
    display: flex;
    align-items: center;
    gap: 1%;
    text-align: center;
    margin-left: 10%;
}

.boton_encriptar {
    background-color: darkblue;
    width: 39.5%;
    color: white;
    font-size: 16px;
    padding: 2%;
    border-radius: 24px;
    cursor: pointer;
}

.boton_desencriptar {
    width: 39.5%;
    background-color: #D8DFE8;
    color: darkblue;
    font-size: 16px;
    padding: 2%;
    border-radius: 24px;
    border: 1px solid darkblue;
    cursor: pointer;
}

.programa_salida {
    background-color: var(--color-blanco);
    width: 30vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: center;
}

.salida_inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen_sin_texto {
    width: 64.6%;
    height: 89.58%;
}

.mensaje_titulo {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    width: 80%;
}

.mensaje_descripcion {
    font-size: 16px;
    text-align: center;
    width: 80%;
}

.contenedor_texto_botoncopiar {
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-size: 24px;
    height: 100%;
    justify-content: space-between;
}

.resultado_texto {
    text-align: left;
}

.boton_copiar {
    background-color: darkblue;
    color: white;
    font-size: 16px;
    padding: 2%;
    border-radius: 24px;
    cursor: pointer;
    width: 100%;
    padding: 5%;
}

@media (max-width: 700px) {
    .programa {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20%;
    }

    .programa_entrada {
        width: 90%;
    }

    .programa_logo {
        margin: 5% 0 5% 40%;
    }

    .programa_salida {
        width: 80%;
        margin-bottom: 10%;
    }
}